In [1]:
import pandas as pd

df1 = pd.read_csv('/home/smacieje/data/all_discogs_lyrics_concated.csv', low_memory=False)
df2 = pd.read_csv('/home/smacieje/data/all_discogs_releases_concated.csv', low_memory=False)

/home/smacieje/.local/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/smacieje/.local/lib/python3.9/site-packages/pandas/core/arrays/masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
concated = pd.concat([df1, df2], ignore_index=True)
concated.shape

(52282, 12)

In [3]:
concated.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
concated.rename(columns={'release_id':'id'}, inplace=True)

In [5]:
def convert_to_seconds(value):
    """Convert duration from MM:SS format to seconds."""
    try:
        minutes, seconds = map(int, str(value).split(':'))
        return minutes * 60 + seconds
    except:
        return None

In [6]:
concated['duration'] = concated['duration'].apply(convert_to_seconds)

In [7]:
column_order = ['title', 'duration', 'album', 'year', 'artist',
                'id', 'country', 'genre', 'style', 'source', 'lyrics']
    
concated = concated[column_order]

In [8]:
concated.insert(3, "date", None)
concated.insert(5, "month", None)
concated.insert(6, "day", None)

In [9]:
concated.head()

,title,duration,album,date,year,month,day,artist,id,country,genre,style,source,lyrics
0,Last Dance Of A Dying King,NaN,Anthems Of Resistance,None,2007,None,None,Wolfpack Unleashed,4274581,Europe,Rock,Thrash,discogs,NaN
1,Religion Of Control (Radio Edit),NaN,Anthems Of Resistance,None,2007,None,None,Wolfpack Unleashed,4274581,Europe,Rock,Thrash,discogs,NaN
2,Next Victim,NaN,Anthems Of Resistance,None,2007,None,None,Wolfpack Unleashed,4274581,Europe,Rock,Thrash,discogs,NaN
3,Killing Fields,NaN,Anthems Of Resistance,None,2007,None,None,Wolfpack Unleashed,4274581,Europe,Rock,Thrash,discogs,NaN
4,Disgrace Erased,NaN,Anthems Of Resistance,None,2007,None,None,Wolfpack Unleashed,4274581,Europe,Rock,Thrash,discogs,NaN

In [10]:
df3 = pd.read_csv('/home/smacieje/data/concat_musicbrainz_lyrics.csv', low_memory=False)
df4 = pd.read_csv('/home/smacieje/data/concat_musicbrainz_releases.csv', low_memory=False)

In [11]:
concated2 = pd.concat([df3, df4], ignore_index=True)
concated2.shape

(2197845, 10)

In [12]:
concated2.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
concated2.rename(columns={'MBID':'id', 'track_length_ms':'duration'}, inplace=True)

In [14]:
import re
from datetime import datetime

def extract_date_components(value):
    """Extract year, month, day from string representations of lists"""

    if pd.isna(value) or value is None:
        return None, None, None

        try:
            parsed = datetime.strptime(date_str[:10], '%Y-%m-%d')
            return parsed.year, parsed.month, parsed.day
        except ValueError:
            return None, None, None
    
    return None, None, None

In [ ]:
concated2[['year', 'month', 'day']] = concated2['date'].apply(lambda x: pd.Series(extract_date_components(x)))

In [ ]:
concated2['duration'] = (concated2['duration'] / 1000).round(2)

In [ ]:
# add 'month' and 'day' to discogs before merger

In [ ]:
#concated.drop_duplicates(subset=['id'], keep='first', inplace=True)
#concated2.drop_duplicates(subset=['id'], keep='first', inplace=True)